/*
    Font: arial
    Fekete: #333333
    Szürke: #cccccc
    Világos zöld: #3cb878
    Sötét zöld: #007335
    Kék: #063711
    Sérga: #ffab40
    Arany: #fed346
    Ezüst: #8d8d8d
    Bronz: #ce7402
*/

body{
    background-image: linear-gradient(45deg yellow 20% orange);
    color: #333333;
    font-family:  arial, cursive;
    font-weight: bold;
}

.torzs {
    width: 80%;
    border-color: #063711;
    border-style: solid;
    border-width: 3px;
    margin: auto;
}

.imgair a {
    text-decoration: none;
}

.kisbox {
    text-align: center;
    border-color: #063711;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    background-color: #3cb878;
    color: white;
    text-decoration: none;
}

.kisbox:hover{
    background: #007335;
    box-shadow: 5px 5px #888888;
    text-shadow: 2px 2px #ff0000;
}

.airplanimg {
    display: inline-block;
    float: left;
    width: 100%;
}

h1 {
    font-weight: bold;
    border-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.adat {
    float: left;
}

.adat p, .nagybox p {
    padding, margin: 0;
    line-height: 0;
}

.nagybox .vers{
    text-align: center
}

.fmenu ul{
    list-style-type: none;
    text-align: center;
}

.fmenu li {
    display: inline-block;
    padding: 10px 40px;
}

.fmenu a {
    color: #007335;
    text-decoration: underline;
}


