/*
    Font: arial
    Fekete: #333333
    Szürke: #cccccc
    Világos zöld: #3cb878
    Sötét zöld: #007335
    Kék: #063711
    Sérga: #ffab40
    Arany: #fed346
    Ezüst: #8d8d8d
    Bronz: #ce7402
*/

body{
    background-image: linear-gradient(45deg yellow 20% orange);
    color: #333333;
    font-family:  arial, cursive;
    font-weight: bold;
}

.bg-fej {
    background-color: #cccccc;
}

.airplanimg {
    display: inline-block;
    float: left;
    width: 100%;
}
    
.torzs {
    width: 80%;
    border-color: #063711;
    border-style: solid;
    border-width: 3px;
    margin: auto;
}

.helymutato {
    width: 80%;
    height: 100%;
    margin: auto;
    padding-bottom: 10px;
}

.helymutato a{
    color: #3cb878;
    padding-left: 20px;
    text-decoration: underline;    
}

.imgair a {
    text-decoration: none;
}

.kisbox{
    text-align: center;
    border-color: #063711;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    background-color: #3cb878;
    color: white;
    text-decoration: none;
}

.kisbox:hover{
    background: #00ff44;
    box-shadow: 5px 5px #888888;
    text-shadow: 2px 2px #ff8888;
}

.kisbox2 {
    width: 80%;
    height: 100%;
    margin: auto;
    border-color: #063711;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    background-color: #3cb878;
    color: white; 
    padding: 10px 50px;
    margin-top: -10px;
}

.kisbox2 ul li, .kisbox2 ul li a {
    color: white;
    text-decoration: underline;
}

.airplanimg {
    display: inline-block;
    float: left;
    width: 100%;
}

.airplanimg2 {
    display: inline-block;
    float: left;
    width: 40%;
}

h1 {
    font-weight: bold;
    border-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    background-color:#cdcdcd;
    text-align: center;
    padding: 20px;
    

}

.adat {
    float: left;
}

.adat p, .nagybox p {
    padding, margin: 0;
    line-height: 0.5;
}

.nagybox .vers{
    text-align: center
}

.fmenu ul{
    list-style-type: none;
    text-align: center;
}

.fmenu li {
    display: inline-block;
    padding: 10px 40px;
}

.fmenu a {
    color: #007335;
    text-decoration: underline;
}



